.size-quantity{
    display: flex;
    align-items: center;
}

.size-quantity select{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    height: 40px;
}
.size-quantity .quantity input{
margin: 0 5px;
}


.btn-add-to-cart {
    background-color: rgba(248, 42, 42, 0.84);
    margin: 0 10px;
  
}
.btn-buy-now {
    background-color: rgb(61, 119, 234);
}
.btn-add-to-cart,.btn-buy-now,.btn-favorite{
    height: 41px;
    color: #ffff;
}
.btn-add-to-cart:hover,.btn-buy-now:hover{
    color: #fff;
}
.btn-add-to-cart:hover{
    background-color: rgba(248, 42, 42, 0.982);
}
.btn-buy-now:hover{
    background-color:rgb(37, 105, 240); ;
}


.ps-lg-3  label {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    color: black;
   }
   
   .ps-lg-3  input[type=checkbox] {
    display: none;
   }
   
   .ps-lg-3 input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   .ps-lg-3 input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   .ps-lg-3 input + label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   .ps-lg-3  input + label .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   .ps-lg-3 input:checked + label .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   .ps-lg-3 input + label .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   .ps-lg-3  input:checked + label .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   

